// ===Mixin===

@mixin georgia_regular {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.06em;
}

@mixin arial_regular {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;

}


// ===Common===


.wrapper-outer {
    background-image: url(../assets/start-screen-gradient-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

html {
    scroll-behavior: smooth;
}


.wrapper-inner {
    max-width: 1200px;
    margin: 0 auto;
}

// ===header===



.header_content {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.header_logo {
    display: flex;
    flex-direction: column;
}

.logo_link {
    text-decoration: none;
}

.header_logo_h2:hover {
    color: #FFFFFF;
    transition-duration: .3s;
}

.header_logo_text:hover {
    color: #F1CDB3;
    transition-duration: .3s;
}

.header_logo_h2 {
    margin: 0;
    @include georgia_regular;
    line-height: 35px;
    color: #F1CDB3;
    padding-bottom: 10px;
}

.header_logo_text {
    margin: 0;
    @include arial_regular;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
}

.header_item,
.header_link {
    @include arial_regular;
    line-height: 24px;
    margin-right: 29px;
    color: #CDCDCD;
    display: inline;
    text-align: center;

}

.header_link {

    text-decoration: none;
    margin-right: 0;
    transition-duration: .3s;
}

.header_link:not(.item_active):hover {
    cursor: pointer;
    color: #FAFAFA;
}

// .header_link:not(.item_active):active,
// .header_link:not(.item_active):focus {
//     padding-bottom: 6px;
//     cursor: pointer;
//     color: #FAFAFA;
//     border-bottom: 3px solid #F1CDB3;

// }

.header_item:last-child {
    margin-right: 0;
}

.item_active {
    @include arial_regular;
    font-size: 15px;
    letter-spacing: 0;
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
    display: inline;
    margin-right: 38px;
}


.nav_burger {
    display: none;
    position: relative;
    width: 30px;
    height: 22px;
    border: none;
    padding-top: 20px;
    cursor: pointer;
}

.nav_burger_span {
    position: absolute;
    width: 100%;
    border: 2px solid #F1CDB3;
}

.nav_burger_span:nth-child(1) {
    transform: translateY(-10px);
}

.nav_burger_span:nth-child(3) {
    transform: translateY(10px);
}


// ===not_only===

.not_only {
    margin-top: 90px;
}

.not_only_items {
    display: flex;
    justify-content: space-between;
}

.not_only_content {

    padding-top: 163px;
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 322px;

}

.not_only_h2 {
    @include georgia_regular;
    margin: 0;
    font-size: 44px;
    line-height: 57px;
    letter-spacing: 0;
    color: #FFFFFF;
    padding-bottom: 42px;
    width: 310px;
    height: 114px;
}

.not_only_text {
    margin: 0;
    @include arial_regular;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0;
    color: #CDCDCD;
}

.not_only_link {
    display: inline-block;
    text-decoration: none;
    @include georgia_regular;
    font-size: 17px;
    border-radius: 100px;
    padding: 15px 45px;
    background: #F1CDB3;
    margin-top: 44px;
    color: black;
}

.not_only_link:hover {
    background: #FDDCC4;
    transition-duration: .3s;
}



// ===about===

.about {
    background: #FFFFFF;
}

.about_items {
    display: flex;

}

.about_pets {
    margin-top: 80px;
    margin-left: 175px;
    margin-right: 120px;
    margin-bottom: 114px;
}

.about_content {
    margin-top: 94px;
    width: 430px;
    height: 380px;
    display: flex;
    flex-direction: column;
}

.about_h1 {
    @include georgia_regular;
    font-size: 35px;
    line-height: 45px;
    width: 370px;
    height: 90px;
    color: #545454;
    margin-top: 0;
    margin-bottom: 0;
}

.about_text_one,
.about_text_two {
    @include arial_regular;
    font-size: 15px;
    line-height: 24px;
    color: #4C4C4C;
    letter-spacing: 0;
}

.about_text_one {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 25px;

}

.about_text_two {
    margin-top: 0;
    margin-bottom: 0;
}

// ===our_friends===

.our_friends {
    background: #F6F6F6;
}

.our_friends_h2 {

    @include georgia_regular;
    font-size: 35px;
    width: 400px;
    height: 90px;
    line-height: 45px;
    margin: 0 auto;
    color: #545454;
    text-align: center;
    margin-top: 67px;
    margin-bottom: 60px;
}

.our_friends_items,
.card_one,
.card_two,
.card_three {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.card_one,
.card_two,
.card_three {
    align-items: center;
    background-color: #FAFAFA;
    border-radius: 9px 9px 0px 0px;


}

.card_one,
.card_two {
    margin-right: 90px;
}

.card_one:hover,
.card_two:hover,
.card_three:hover {
    cursor: pointer;
    transition-duration: .3s;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: #FFFFFF;

    .our_friends_button {
        background: #FDDCC4;
        cursor: pointer;
        transition-duration: .3s;
    }
}


.our_friends_slider {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}



.arrow,
.arrows {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    margin-top: 192px;
    box-sizing: border-box;
}

.arrow:hover,
.arrows:hover {
    cursor: pointer;
    background: #FDDCC4;
    transition-duration: .3s;
}

.arrow_inside,
.arrows_inside {
    padding-top: 20px;
    padding-left: 17px;
}

.arrows_adaptive {
    display: none;
}

.cards {
    display: flex;
}


.katrine_h3,
.jennifer_h3,
.woodie_h3 {
    margin: 0;
    @include georgia_regular;
    font-size: 20px;
    line-height: 23px;
    padding-top: 29px;
    color: #545454;
}

.our_friends_button {
    width: 187px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    background-color: #FAFAFA;
    margin-top: 30px;
    margin-bottom: 30px;
    @include georgia_regular;
    font-size: 17px;
    line-height: 22px;
    color: #292929;
}

.our_friends_main_link:hover {

    background: #FDDCC4;
    transition-duration: .3s;

}


.our_friends_main_button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our_friends_main_link {
    display: inline-block;
    text-decoration: none;
    background: #F1CDB3;
    border-radius: 100px;
    padding: 15px 45px;
    margin-bottom: 100px;
    @include georgia_regular;
    font-size: 17px;
    line-height: 22px;
    color: #292929;

}


// ===help===

.help {
    background: #FFFFFF;
}

.help_h2 {
    @include georgia_regular;
    width: 310px;
    height: 90px;
    font-size: 35px;
    line-height: 45px;
    margin: 79px auto 0;
    text-align: center;
    color: #545454;

}

.help_items {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 61px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    gap: 60px 119px;
}

.help_card {
    text-align: center;
}


.help_h3 {
    margin: 0;
    padding-top: 25px;
    text-align: center;
    @include georgia_regular;
    font-size: 20px;
    line-height: 23px;
    color: #545454;
}

// ===in_addition===

.in_addition {
    background: #F6F6F6;
}

.in_addition_items {
    display: flex;
    justify-content: center;
    width: 100%;
}

.dog_donation {
    margin-top: 90px;
    margin-right: 30px;
    margin-bottom: 110px;
    margin-left: 0px;
    max-width: 100%;
    height: auto;
}

.in_addition_content {
    margin-top: 78px;
    display: flex;
    flex-direction: column;
    width: 380px;
}

.in_addition_h2 {

    margin: 0;
    @include georgia_regular;
    font-size: 35px;
    line-height: 45px;
    color: #545454;
    width: 300px;
    height: 90px;

}

.in_addition_h3 {
    margin: 0;
    padding-top: 19px;
    padding-bottom: 22px;
    @include georgia_regular;
    font-size: 15px;
    line-height: 17px;
    color: #545454;

}

.in_addition_credit {
    display: flex;
    width: 349px;

    height: 44px;
    background: #F1CDB3;
    border-radius: 9px;
    margin-top: -2px;
}

.in_addition_credit:hover {
    background: #FDDCC4;
    transition-duration: .3s;
}

.credit_card {
    width: 30px;
    height: 23px;
    margin: 10px 15px;
}

.credit_link {
    text-decoration: none;
    @include georgia_regular;
    font-size: 20px;
    line-height: 23px;
    color: #545454;
    margin-top: 10px;
}


.in_addition_text {
    margin-top: 20px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}


// ===footer===

.footer {
    background-image: url(../assets/start-screen-gradient-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.footer_items {
    display: flex;
    justify-content: space-between;

}

.footer_content {
    display: flex;
    gap: 27.5%;
}


.footer_contacts,
.footer_addresses {
    margin-top: 56px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.footer_contacts {
    max-width: 100%;
    // width: 23.1%;
}

.footer_contacts_h2 {
    margin: 0;
    @include georgia_regular;
    font-size: 35px;
    line-height: 45px;
    width: 17.5rem;
    color: #FFFFFF;
}

.mail_link,
.phone_link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-top: 7px;
    @include georgia_regular;
    font-size: 20px;
    line-height: 23px;
    color: #F1CDB3;
}

.footer_mail {
    margin-top: 32px;
}

.footer_mail:hover {
    .mail_link {
        color: #FDDCC4;
        transition-duration: .3s;
    }
}

.footer_phone {
    width: 240px;
    margin-top: 32px;
}

.footer_phone:hover {
    .phone_link {
        color: #FDDCC4;
        transition-duration: .3s;
    }
}


.mail_icon,
.phone_icon {
    width: 40px;
    height: 32px;
    margin-right: 20px;
}


.footer_addresses {
    max-width: 100%;
    height: 234px;
    // margin-right: 160px;
    // margin-left: 160px;
}

.footer_addresses_h2 {
    margin: 0;
    width: 270px;
    height: 90px;
    @include georgia_regular;
    font-size: 35px;
    line-height: 45px;
    color: #FFFFFF;
}

.address_boston {
    margin-top: 34px;
    margin-bottom: 32px;
    width: 302px;
    height: 46px;
    display: flex;
}

.addresses_icon {
    width: 22px;
    height: 32px;
    margin-right: 20px;
}

.addresses_icon_boston {
    padding-top: 10px;
}


.address_link_boston,
.address_link_london {
    display: flex;
    align-items: center;
    text-decoration: none;
    @include georgia_regular;
    font-size: 20px;
    line-height: 23px;
    color: #F1CDB3;
}

.address_boston:hover {
    .address_link_boston {
        color: #FDDCC4;
        transition-duration: .3s;
    }
}

.address_london:hover {
    .address_link_london {
        color: #FDDCC4;
        transition-duration: .3s;
    }
}

.footer_puppy {
    margin: 0;
    padding-top: 40px;
    display: block;
    max-width: 100%;
    height: auto;
    // width: 18.75rem;
    // height: 18.75rem;
}

// Media

@media screen and (max-width: 1233px) {
    .wrapper-inner {
        padding-left: 30px;
        padding-right: 30px;
    }

    .card_one,
    .card_two {
        margin-right: 40px;
    }
}

@media screen and (max-width: 1047px) {


    // ===header===



    .header_content {

        padding-top: 20px;
    }

    .header_nav {
        margin-left: 100px;
    }

    // ===not_only===

    .not_only {
        margin-top: 60px;
    }

    .not_only_items {
        flex-direction: column;
        align-items: center;

    }

    .not_only_content {
        padding-top: 0;
        margin-bottom: 77px;
    }

    .not_only_h2 {
        padding-bottom: 32px;
    }

    .not_only_text {
        padding-top: 9px;
    }


    .not_only_button {
        text-align: center;
    }

    .not_only_dog {
        margin-top: 24px;
        margin-left: 150px;
        width: 82%;
    }

    // ===about===

    .about_items {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about_content {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .about_pets {
        margin: 0;
        margin-bottom: 100px;
    }

    // ===our friends===

    .our_friends_h2 {
        margin-top: 81px;
    }


    .card_one {
        margin-left: 0;
        margin-right: 40px;
    }

    .card_two {
        margin: 0;
    }

    .card_three {
        display: none;
    }

    // ===in addition===

    .in_addition_items {
        flex-direction: column-reverse;
        align-items: center;
    }

    .in_addition_content {
        align-items: center;
    }

    .in_addition_h2,
    .in_addition_credit,
    .in_addition_h3 {
        margin-right: auto;
    }

    .dog_donation {
        margin: 47px auto 100px;

    }
}


@media screen and (max-width: 1074px) {
    .footer_items {
        flex-direction: column;
    }

    // .footer_content {
    //     display: flex;
    //     justify-content: space-around;
    // }

    .footer_puppy {
        margin: 65px auto 0;
    }
}


@media screen and (max-width: 983px) {
    .help_items {
        margin: 60px 36px 96px 35px;
        gap: 57px 60px;
    }

    .footer_content {
        gap: 60px;
    }

}

@media screen and (max-width: 797px) {
    .header_item {
        margin-right: 17px;
    }
}


@media screen and (max-width: 768px) {

    body.lock {
        overflow: hidden;
    }

    .overlay {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }

    .overlay.active {
        display: block;
    }

    .nav_burger {
        display: block;
        z-index: 5;
        transition: all .4s;
    }

    .header_nav {
        overflow: auto;
        position: fixed;
        top: -15px;
        right: -100%;
        flex-direction: column;
        height: 100vh;
        width: 320px;
        display: flex;
        background: #292929;
        align-items: center;
        justify-content: center;
        transition: all .4s;
    }

    .header_nav.active {
        right: 0;
        transition: all .4s;
    }

    .nav_burger.active {
        transform: rotate(90deg);
        transition: all .4s;
    }

    .header_item:not(:last-child) {
        margin-bottom: 40px;
    }

    .header_item:last-child {
        margin-right: 17px;
    }


    .not_only {
        margin-top: 57px;
    }

    .not_only_dog {
        margin-top: 18px;
    }

    .about_content {
        margin-left: 12x;
        margin-top: 72px;
    }

    .help_card {
        width: 170px;
    }



    .in_addition_content {
        margin-top: 85px;
    }


    .footer_contacts,
    .footer_addresses {
        margin-top: 30px;
        margin-bottom: 0;
    }

    .footer_contacts {
        margin-left: 41px;
    }

    .footer_puppy {
        margin-top: 24px;
        margin-right: 196px;
    }
}


@media screen and (max-width: 756px) {
    // ===our friends===

    .arrow {
        display: none;
    }

    .card_one {
        margin: 0 auto;
    }

    .card_two {
        display: none;
    }

    .our_friends_slider {
        flex-direction: column;
    }

    .arrows_adaptive {
        display: flex;
        justify-content: space-around;
    }

    .footer_content {
        gap: 30px;
    }
}

@media screen and (max-width: 664px) {

    .not_only_dog {
        margin-left: auto;
    }

    .about_h1,
    .our_friends_h2 {
        font-size: 25px;
        line-height: 32.5px;
        text-align: center;
    }

    .help_items {
        margin-top: 42px;
        margin-left: 0px;
        margin-right: 0px;
        gap: 30px 30px;
    }

    .help_card {
        width: 130px;
    }

    .help_h3 {
        font-size: 15px;
        line-height: 17px;
    }

    .about_content,
    .our_friends_h2 {
        width: 100%;
    }

    // ===footer===

    .footer_content {
        flex-direction: column;
        margin: 0 auto;
        justify-content: start;
    }

    .footer_contacts,
    .footer_addresses {

        margin-left: 0;
    }



    .footer_contacts_h2 {
        margin: 30px auto;
    }

    .footer_addresses_h2 {
        margin-top: -19px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer_contacts_h2,
    .footer_addresses_h2 {

        font-size: 25px;
        line-height: 32.5px;

    }


    .footer_mail,
    .footer_phone {
        margin-top: 0;
        margin-bottom: 32px;
        text-align: center;
    }

    .address_boston {
        margin-top: 13px;
        margin-bottom: 39px;
    }

    .footer_puppy {
        width: 90%;
        margin-top: 9px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (max-width: 494px) {

    .not_only_content {
        width: 100%;
    }


    .not_only_h2 {
        font-size: 25px;
        line-height: 32.5px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .not_only_text {
        width: 300px;
        text-align: center;
        margin-top: 0;
        padding-top: 0;
    }
}

@media screen and (max-width: 422px) {

    .in_addition_content {
        width: 100%;
    }

    .about_pets {
        width: 65%;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .about_content {
        margin-bottom: 0;
        height: 100%;
    }

    .about_h1,
    .in_addition_h2,
    .help_h2 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 25px;
        line-height: 32.5px;

    }



    .in_addition_h3 {
        margin-left: auto;
        text-align: center;
    }

    .in_addition_credit {
        width: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    .credit_link {
        font-size: 15px;
        line-height: 17px;
    }

    .addresses_icon {
        margin-right: 5px;
    }
}

@media screen and (max-width: 364px) {

    .wrapper-inner {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header_content {
        padding-top: 31px;
    }

    .not_only_h2 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        width: 250px;
        letter-spacing: 0.06em;
        height: 76px;
    }

    .not_only_text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        margin-left: -10px;
    }

    .not_only_content {
        margin-bottom: 72px;
    }

    .not_only_dog {
        width: 90%;
    }


    .about_h1 {
        margin-top: 40px;
    }

    .about_content {
        margin-top: 0;
    }

    .about_text_one {
        padding-top: 0;
        padding-left: 5px;
    }

    .about_text_two {
        margin-top: -3px;
        padding-left: 5px;
    }

    .about_text_one,
    .about_text_two {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        width: 270px;
        text-align: justify;
    }

    .about_pets {
        width: 93%;
    }

    .our_friends_h2 {
        margin-top: 45px;
        margin-bottom: 15px;
        width: 300px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 32px;
        margin-left: -9px;
        text-align: center;
        letter-spacing: 0.06em;
    }

    .arrows {
        margin-top: 22px;
    }

    .arrows_left {
        margin-left: 6px;
    }

    .our_friends_main_link {
        margin-top: -19px;
        margin-bottom: 39px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 0.06em;
    }

    .help_h2 {
        margin-top: 45px;
    }

    .help_h3 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
    }

    .help_icon {
        width: 50px;
        height: 50px;
    }

    .help_card {
        width: 110px;
    }

    .help_card:last-child {
        margin-right: 150px;
    }

    .help_items {
        gap: 16px 41px;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 10px;
        margin-bottom: 48px;
    }

    .in_addition_content {
        margin-top: 66px;
    }

    .in_addition_h2 {
        margin-top: -43px;
        width: 220px;
        height: 64px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 32px;
        letter-spacing: 0.06em;
    }

    .in_addition_h3 {
        width: 273px;
        letter-spacing: 0;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
    }

    .in_addition_credit {
        width: 281px;
    }

    .in_addition_text {
        text-align: justify;
    }

    .dog_donation {
        margin-top: 21px;
        margin-bottom: 39px;
    }

    .footer_contacts,
    .footer_addresses {
        margin-top: 0;
    }

    .footer_contacts_h2 {
        margin-top: 30px;
        margin-left: 0;
        margin-right: 0;
        text-align: center;

    }

    .footer_addresses_h2 {
        margin-left: 5px;
        margin-right: 0;
        text-align: center;
    }

    .mail_link {
        padding-top: 9px;
    }

    .mail_icon {
        margin-right: 23px;
        padding-left: 12px;
    }

    .phone_icon {
        margin-right: 18px;
        padding-left: 21px;
    }

    .addresses_icon {
        margin-right: 6px;
    }

    .address_boston {
        width: 281px;
    }

    .address_link_boston,
    .address_link_london {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .footer_puppy {
        width: 94%;
        margin-top: -35px;
        margin-left: 9px;
        margin-right: 0;
    }

}